################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstMVC/.vs/FirstMVC
/FirstMVC/FirstMVC/bin/Debug/net6.0
/FirstMVC/FirstMVC/obj
/ConsoleApp1/.vs/ConsoleApp1/v17
/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/ConsoleApp1/obj
