################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstMVC/.vs/FirstMVC
/FirstMVC/FirstMVC/bin/Debug/net6.0
/FirstMVC/FirstMVC/obj
/ConsoleApp1/.vs/ConsoleApp1/v17
/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/.vs/ConsoleApp1
/IdentityApp/.vs/IdentityApp/v17
/IdentityApp/IdentityApp/bin/Debug/net6.0
/IdentityApp/IdentityApp/obj
/IdentityApp/.vs/IdentityApp
/ChatApp/.vs/ChatApp/v17
/ChatApp/ChatApp/bin/Debug/net6.0
/ChatApp/ChatApp/obj
/ChatFromMetanit/.vs
/ChatFromMetanit/ChatFromMetanit/bin/Debug/net6.0
/ChatFromMetanit/ChatFromMetanit/obj
/MoveShape/.vs
/MoveShape/MoveShape/bin/Debug/net6.0
/MoveShape/MoveShape/obj
/WebApiFirst/.vs
/WebApiFirst/WebApiFirst/obj
/WebApiSimple/.vs/WebApiSimple
/WebApiSimple/WebApiSimple/bin/Debug/net6.0
/WebApiSimple/WebApiSimple/obj
/ArrayApp/.vs/ArrayApp
/ArrayApp/ArrayApp/bin/Debug/net6.0
/ArrayApp/ArrayApp/obj
/WebApiSimple/.vs/ProjectEvaluation
